<h1>Questions ?</h1>
<p>Feeling uncertain ? Ask coach !</p>
<form action="/answer">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-success pad-left" type="submit" value="Ask!">
</form>
